<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
</head>
<body>
  <% if (nav === true) { %>
    <div class="flex justify-between px-5 py-3 bg-zinc-800 text-zinc-200">
      <h3 class="text-2xl font-semibold">DesignVault</h3>
      <div class="flex items-center gap-5">
        <a href="/profile">Profile</a>
        <a href="#">Feed</a>
        <form action="/logout" method="post" style="display: inline;">
          <button type="submit" class="bg-red-600 px-2 py-1 rounded-lg ml-4">Logout</button>
        </form>
      </div>
  </div>
  <% } %>